In [31]:
#Import Library


import scipy.stats
import pandas as pd # for data manipulation
import numpy as np # for data manipulation
from sklearn.linear_model import LogisticRegression # for building a linear regression model
from sklearn.model_selection import train_test_split # for splitting the data into train and test samples
from sklearn.metrics import (confusion_matrix, accuracy_score)
import statsmodels.api as sm

In [14]:
#load Data from library seaborn : Iris
data= pd.read_csv('logit_train1.csv', index_col = 0)

In [15]:
#Melihat head of data
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 16 to 19
Data columns (total 4 columns):
gmat               30 non-null int64
gpa                30 non-null float64
work_experience    30 non-null int64
admitted           30 non-null int64
dtypes: float64(1), int64(3)
memory usage: 1.2 KB

In [16]:
data.iloc[:,:5]

    gmat  gpa  work_experience  admitted
16   580  2.7                4         0
33   660  3.3                6         1
8    740  3.3                5         1
38   590  1.7                4         0
32   660  4.0                4         1
18   540  2.7                2         0
6    690  2.3                1         0
23   550  2.7                1         0
27   580  2.3                2         0
31   620  2.7                2         0
3    710  3.7                5         1
29   660  3.3                5         1
0    780  4.0                3         1
13   680  3.3                4         0
4    680  3.9                4         0
22   550  2.3                4         0
37   580  3.3                1         0
17   650  3.7                6         1
20   620  3.3                2         1
1    750  3.9                4         1
5    730  3.7                6         1
9    690  1.7                1         0
24   570  3.0                2         0
26   660  3.7                4         1
2    690  3.3                3         0
28   650  3.7                6         1
25   670  3.3                6         1
39   690  3.7                5         1
11   690  3.7                5         1
19   590  2.3                3         0

In [17]:
#check isi variabel dependen
data['admitted'].value_counts()

1    15
0    15
Name: admitted, dtype: int64

In [39]:
#Pisahkan X dan Y
X=data.iloc[:, :-1]
y=data.iloc[:,-1]

In [44]:
import pandas as pd
data.corr(method='spearman')

                     gmat       gpa  work_experience  admitted
gmat             1.000000  0.558203         0.361116  0.533778
gpa              0.558203  1.000000         0.515284  0.725741
work_experience  0.361116  0.515284         1.000000  0.705720
admitted         0.533778  0.725741         0.705720  1.000000

In [57]:
from scipy import stats
rho, pval = stats.spearmanr(data)
pval

0.0013482957688671802

In [58]:
from scipy import stats
rho, pval = stats.spearmanr(X)
pval

array([[0.        , 0.0013483 , 0.0499259 ],
       [0.0013483 , 0.        , 0.00356793],
       [0.0499259 , 0.00356793, 0.        ]])

In [19]:
#splitting data train dan data test asumsi 80:20
X_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [24]:
#modelling regresion logistic
model = sm.Logit(y_train, X_train).fit()

Optimization terminated successfully.
         Current function value: 0.372258
         Iterations 7

In [25]:
print(model.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:               admitted   No. Observations:                   21
Model:                          Logit   Df Residuals:                       18
Method:                           MLE   Df Model:                            2
Date:                Fri, 17 Dec 2021   Pseudo R-squ.:                  0.4621
Time:                        17:07:30   Log-Likelihood:                -7.8174
converged:                       True   LL-Null:                       -14.532
                                        LLR p-value:                  0.001213
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
gmat               -0.0207      0.011     -1.966      0.049      -0.041   -6.68e-05
gpa                 2.6093      1.799      1.450      0.147      -0.916       6.135
work_experience     1.3436      0.604      2.226      0.026       0.160       2.527
===================================================================================

In [26]:
#prediction
yhat=model.predict(x_test)
predictions = list(map(round,yhat))

In [28]:
#evaluation
cm = confusion_matrix(y_test,predictions)
print ("Confusion Matrix : \n", cm)

print('Test accuracy = ', accuracy_score(y_test, predictions))

total1=sum(sum(cm))

accuracy1=(cm[0,0]+cm[1,1])/total1
print ('Accuracy : ', accuracy1)

sensitivity1 = cm[0,0]/(cm[0,0]+cm[0,1])
print('Sensitivity : ', sensitivity1 )

specificity1 = cm[1,1]/(cm[1,0]+cm[1,1])
print('Specificity : ', specificity1)

Confusion Matrix :
 [[4 0]
 [1 4]]
Test accuracy =  0.8888888888888888
Accuracy :  0.8888888888888888
Sensitivity :  1.0
Specificity :  0.8